<%= form_for(@cancellor) do |f| %>
  <% if @cancellor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cancellor.errors.count, "error") %> prohibited this cancellor from being saved:</h2>

      <ul>
      <% @cancellor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
